* {
    box-sizing: border-box;
    background-color: rgb(255, 123, 0);
    
    }
body {
    
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 1rem;  
}
.outside-box {
    border: 2px solid rgb(75, 71, 71);
    height: 100%;
    width: 100%;
    flex-wrap: wrap;  
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.topnav {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
}
.bottom-nav {
    margin-top: 47%;
    margin-left: 10px;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: rgb(75, 71, 71);
    flex-basis: -50px;
    font-size: smaller;
}
h1 {
    border: 2px solid rgb(75, 71, 71);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 160px; 
    position: absolute;
    top: 32.5%;
    left: 37%;
    font-weight: 900; 
    color:rgb(75, 71, 71);
    font-weight: 100; 
}





/* FYI 

   simplest way to centre a div 
   give element class = grid then css below 

    display: grid;
    place-items: center; */
